.ArtistCard {
    position: fixed;
    height: auto;
    width: 240px;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    color: white;
    display: none;
}

.ArtistCard .artistInfo {
    position: absolute;
    height: auto;
    padding: 0 1em;
    top: 100%;
    width: calc(100% - 2em);
    transition: all .2s;
    z-index: -1;
}

.ArtistCard a {
    color: white;
    display: block;
    text-align: center;
    width: calc(100% - 1.6em);
    padding: .5em .8em;
    background-color: var(--main-color-dark);
}


.ArtistCard h1 {
    margin: .5em;
    position: relative;
    text-align: center;
    z-index: 5;
}

.ArtistCard .image {
    position: relative;
    z-index: 5;
    width: 240px;
    height: 240px;
}

.ArtistCard.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ArtistCard.active::after {
    content: ' ';
    display: block;
    position: fixed;
    top: -50vh;
    right: -50vw;
    bottom: -50vh;
    left: -50vw;
    background-color: inherit;
    opacity: .2;

}