
h3, h4, h5 {
    padding: 0;
    margin: 0;
}

* {
    cursor: default;
}

.tt-Title {
    text-align: center;
    text-transform: uppercase;
    margin: 3em 1em 1em;
    border-bottom: 3px solid black;
    padding: .5em;
}

.time-table-container {
    transition: filter .3s;
    filter: blur(0px);
}

.time-table-container.artist-card-active {
    filter: blur(5px);
}
