:root {
    --main-color: #060685;
    --main-color-dark: #040463;
    cursor: default;
}

h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

a {
    text-decoration: none;
}

.tt-Title {
    text-align: center;
    text-transform: uppercase;
    margin: 3em 1em 1em;
    border-bottom: 3px solid var(--main-color);
    padding: .5em;
    font-weight: bold;
    color: var(--main-color);
}

.time-table-container {
    transition: filter .3s;
    filter: blur(0px);
    max-width: 800px;
    overflow: hidden;
    margin: 0 auto;
}

.time-table-container.artist-card-active {
    filter: blur(5px);
}
